<button (click)="toggle = !toggle">toggle</button>

<app-test class="resize-container" #container [style.width.px]="data.width" [style.height.px]="data.height">
    <div class="resize resize__right"
         (resize)="onResize($event)"
         [targetElement]="containerElement"
         [direction]="AngularResizeElementDirection.RIGHT"
    ></div>

    <div class="resize resize__bottom--right"
         (resize)="onResize($event)"
         [targetElement]="containerElement"
         [direction]="AngularResizeElementDirection.BOTTOM_RIGHT"
    ></div>
</app-test>
